[submodule "src/singleapplication"]
	path = src/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "src/uchardet"]
	path = src/uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet.git
[submodule "src/editorconfig-core-qt"]
	path = src/editorconfig-core-qt
	url = https://github.com/editorconfig/editorconfig-core-qt.git
[submodule "src/ads"]
	path = src/ads
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "src/QSimpleUpdater"]
	path = src/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater
