# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*


# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

*.pyc

/build
/icon/*.png
/icon/ImageMagick

src/build/Qt_6_7_2_for_macOS-Debug/.qmake.stash

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_pl_PL.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_pt_PT.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_ru_RU.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_sv_SE.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_tr_TR.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_uk_UA.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_zh_CN.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/NotepadNext_zh_TW.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_pl.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_pt_PT.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_ru.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_sv.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_tr.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_uk.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_zh_CN.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qt_zh_TW.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_pl.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_ru.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_tr.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_uk.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_zh_CN.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/.qm/qtbase_zh_TW.qm

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/build/qrc/qmake_qmake_qm_files.qrc

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/LICENSE

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/NotepadNext.app/Contents/Info.plist

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/NotepadNext.app/Contents/PkgInfo

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/NotepadNext.app/Contents/Resources/NotepadNext.icns

src/build/Qt_6_7_2_for_macOS-Debug/NotepadNext/NotepadNext.app/Contents/MacOS/NotepadNext
