<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Notepad Next</Name>
    <Version>0.3</Version>
    <Title>Notepad Next v0.3</Title>
    <Publisher>Notepad Next</Publisher>
    <StartMenuDir>Notepad Next</StartMenuDir>

    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <SupportsModify>false</SupportsModify>
    <TargetDir>@ApplicationsDirX64@\Notepad Next</TargetDir>

    <!--<StyleSheet>style.qss</StyleSheet>-->
    <!--<TitleColor>#88FF33</TitleColor>-->
    <WizardStyle>Modern</WizardStyle>

    <ControlScript>controller.qs</ControlScript>
</Installer>
