name: Build Notepad Next

on: [push, pull_request]

jobs:
  build-linux:
    strategy:
      matrix:
        config:
        - 
          qt_version: "5.15.2"
          modules: ""
        - 
          qt_version: "6.2.3"
          modules: "qt5compat"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.config.qt_version }}
          modules: ${{ matrix.config.modules }}

      - name: Compile
        run: |
          rm -rf build-linux
          mkdir build-linux 
          cd build-linux
          qmake ../src/NotepadNext.pro
          make

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-Linux-Qt${{ matrix.config.qt_version }}
          path: ${{ github.workspace }}/build-linux/NotepadNext/NotepadNext

  build-windows:
    strategy:
      matrix:
        config:
        - 
          qt_version: "5.15.2"
          modules: ""
        - 
          qt_version: "6.2.3"
          modules: "qt5compat"

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.config.qt_version }}
          modules: ${{ matrix.config.modules }}

      - name: Setup VS tools
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x64

      - name: Install jom
        run: choco install jom

      - name: Run QMake
        run: |
          mkdir build
          cd build
          qmake ..\src\NotepadNext.pro
      
      - name: Build
        run: |
          cd build
          jom

      - name: Create package
        run: |
          cd build
          jom package

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-Windows-Qt${{ matrix.config.qt_version }}
          path: ${{ github.workspace }}/build/package/
