name: Build Notepad Next

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        config:
        - 
          qt_version: "5.15.2"
          modules: ""
          os: ubuntu-18.04
        - 
          qt_version: "6.2.4"
          modules: "qt5compat"
          os: ubuntu-latest

    runs-on: ${{ matrix.config.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.config.qt_version }}
          modules: ${{ matrix.config.modules }}
      
      - name: Setup
        run: sudo apt-get install libxkbcommon-dev

      - name: Compile
        run: |
          rm -rf build-linux
          mkdir build-linux 
          cd build-linux
          qmake ../src/NotepadNext.pro "DISTRIBUTION=AppImage"
          make -j$(nproc)

      - name: Build AppImage
        run: |
          cd build-linux
          make install INSTALL_ROOT=AppDir
          cd NotepadNext
          wget --no-verbose "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage"
          wget --no-verbose "https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage"
          chmod +x linuxdeploy*.AppImage
          export OUTPUT=NotepadNext-x86_64.AppImage
          ./linuxdeploy-x86_64.AppImage --appdir AppDir --plugin qt --output appimage

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-Linux-Qt${{ matrix.config.qt_version }}-AppImage
          path: ${{ github.workspace }}/build-linux/NotepadNext/NotepadNext-x86_64.AppImage

  build-mac:
    strategy:
      fail-fast: false
      matrix:
        config:
        -
          qt_version: "5.15.2"
          modules: ""
        -
          qt_version: "6.2.4"
          modules: "qt5compat"

    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.config.qt_version }}
          modules: ${{ matrix.config.modules }}

      - name: Compile
        run: |
          rm -rf build-mac
          mkdir build-mac
          cd build-mac
          qmake ../src/NotepadNext.pro
          make -j$(sysctl -n hw.ncpu)
          cd NotepadNext
          macdeployqt NotepadNext.app -dmg

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-macOS-Qt${{ matrix.config.qt_version }}
          path: ${{ github.workspace }}/build-mac/NotepadNext/NotepadNext.dmg

  build-windows:
    strategy:
      fail-fast: false
      matrix:
        config:
        - 
          qt_version: "5.15.2"
          modules: ""
        - 
          qt_version: "6.2.4"
          modules: "qt5compat"

    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.config.qt_version }}
          modules: ${{ matrix.config.modules }}

      - name: Setup Visual Studio Tools
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x64

      - name: Install jom
        run: choco install jom

      - name: Run QMake
        run: |
          mkdir build
          cd build
          qmake ..\src\NotepadNext.pro

      - name: Build
        run: |
          cd build
          jom

      - name: Create zip Package
        run: |
          cd build
          jom package

      - name: Create Installer
        if: matrix.config.qt_version == '5.15.2'
        run: |
          cd build
          jom installer

      - name: Upload zip Package
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-Windows-Qt${{ matrix.config.qt_version }}-Zip
          path: ${{ github.workspace }}/build/package/

      - name: Upload Installer
        if: matrix.config.qt_version == '5.15.2'
        uses: actions/upload-artifact@v2
        with:
          name: NotepadNext-Windows-Qt${{ matrix.config.qt_version }}-Installer
          path: ${{ github.workspace }}/installer/NotepadNext*.exe

  github:
    name: Draft GitHub Release
    runs-on: ubuntu-latest
    needs: [build-linux, build-mac, build-windows]

    if: github.repository == 'dail8859/NotepadNext' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create Draft Release
        run: |
          gh release create ${{ github.ref_name }} --title ${{ github.ref_name }} --generate-notes --draft --discussion-category "General"

      - name: Download all artifacts
        uses: actions/download-artifact@v3

      - name: Upload Windows Installer
        run: |
          gh release upload ${{ github.ref_name }} NotepadNext-Windows-Qt5.15.2-Installer/NotepadNext-${{ github.ref_name }}-Installer.exe

      - name: Upload Linux AppImage
        run: |
          gh release upload ${{ github.ref_name }} NotepadNext-Linux-Qt5.15.2-AppImage/NotepadNext-x86_64.AppImage

      - name: Upload macOS App
        run: |
          gh release upload ${{ github.ref_name }} NotepadNext-macOS-Qt5.15.2/NotepadNext.dmg

